# TODO:
### update frsq poi mapping
### assigning rltn tag to equal ln may not be a good idea. 

for exmaple, when the role of a way is inner(http://www.openstreetmap.org/way/48076826), meaning the the way serve a different function than rltn(http://www.openstreetmap.org/relation/381363)

it seems that "inner" role is the only fallback

examples:
- set(['cycling facilities', 'retail shop']) http://www.openstreetmap.org/way/48076826 set(['transportation']) http://www.openstreetmap.org/relation/381363
- set(['transportation']) http://www.openstreetmap.org/way/48081175 set(['outdoors and recreation']) http://www.openstreetmap.org/relation/3213622
- set(['professional service']) http://www.openstreetmap.org/way/48085321 set(['transportation']) http://www.openstreetmap.org/relation/914244
- set(['cycling facilities']) http://www.openstreetmap.org/way/48168497 set(['transportation']) http://www.openstreetmap.org/relation/383188
- set(['cycling facilities']) http://www.openstreetmap.org/way/52303179 set(['transportation']) http://www.openstreetmap.org/relation/450333
- set(['professional service']) http://www.openstreetmap.org/way/66417858 set(['outdoors and recreation']) http://www.openstreetmap.org/relation/3213622
- set(['outdoors and recreation']) http://www.openstreetmap.org/way/173918307 set(['cycling facilities']) http://www.openstreetmap.org/relation/2322204
- set(['outdoors and recreation']) http://www.openstreetmap.org/way/66418767 set(['cycling facilities']) http://www.openstreetmap.org/relation/2322204
- set(['outdoors and recreation']) http://www.openstreetmap.org/way/237887425 set(['cycling facilities']) http://www.openstreetmap.org/relation/3205766
- set(['outdoors and recreation']) http://www.openstreetmap.org/way/237887426 set(['cycling facilities']) http://www.openstreetmap.org/relation/3205766
- set(['cycling facilities']) http://www.openstreetmap.org/way/203025090 set(['transportation']) http://www.openstreetmap.org/relation/2724481
- set(['cycling facilities']) http://www.openstreetmap.org/way/288579359 set(['transportation']) http://www.openstreetmap.org/relation/5170966
- set(['cycling facilities']) http://www.openstreetmap.org/way/288579359 set(['transportation']) http://www.openstreetmap.org/relation/5170968
- set(['cycling facilities']) http://www.openstreetmap.org/way/288579359 set(['transportation']) http://www.openstreetmap.org/relation/5170967
- set(['cycling facilities']) http://www.openstreetmap.org/way/288579360 set(['transportation']) http://www.openstreetmap.org/relation/5170968
- set(['cycling facilities']) http://www.openstreetmap.org/way/288579360 set(['transportation']) http://www.openstreetmap.org/relation/5170966
- set(['cycling facilities']) http://www.openstreetmap.org/way/288579360 set(['transportation']) http://www.openstreetmap.org/relation/5170967
- set(['cycling facilities']) http://www.openstreetmap.org/way/296755159 set(['transportation']) http://www.openstreetmap.org/relation/2723927
- set(['cycling facilities']) http://www.openstreetmap.org/way/296794684 set(['transportation']) http://www.openstreetmap.org/relation/2723927

In [1]:
import src.constants; reload(src.constants)
from src.constants import fn_frsq_venues_dc, fn_segments_dc, epsg_dc, fn_osm_db_dc, fn_poi_frsq_dc, fn_poi_osm_dc
from src.constants import fn_mapping_for_fs, fn_mapping_for_osm

import src.geom_helper; reload(src.geom_helper)
from src.geom_helper import bfr_20m, objs_near_segs, objs_near_segs_store, gpdf_equal

import geopandas as gp
import pandas as pd

import src.poi; reload(src.poi)
from src.poi import *

# TODO

1. [x] mapped frsq venues to poi categories --> filter frsq venues by obj_near_segment
2. [x] mapped osm data to poi categories, filter osm data by obj_near_segment
3. [] remove overlap between osm and frsq
4. [] Visalization:
    - [] poi categories distribution
        1. [x] frsq venues near segments
        2. [x] osm venues near segments
        3. [] final poi near segments(after removing overlap)
    - [] poi categories spatial distribution

In [2]:
data_dir = 'data/'
path_frsq_venues_dc = data_dir + fn_frsq_venues_dc
path_osm_db_dc = data_dir + fn_osm_db_dc
path_segments_dc = data_dir + fn_segments_dc
path_mapping_for_fs = data_dir+fn_mapping_for_fs
path_mapping_for_osm = data_dir+fn_mapping_for_osm

In [3]:
frsq_venues_dc = gp.read_file(path_frsq_venues_dc)
segments_dc = gp.read_file(path_segments_dc)
poi_frsq_dc = map_frsq_venues_to_poi_category(frsq_venues_dc, path_mapping_for_fs, debug=True)
poi_frsq_near_seg_dc = objs_near_segs(poi_frsq_dc, segments_dc, bfr_20m, epsg_dc, output='objs')
print '# venues in city=',poi_frsq_dc.shape[0]
print '# venues near segments=', poi_frsq_near_seg_dc.shape[0]

objs_near_segs_store(poi_frsq_near_seg_dc, data_dir, fn_poi_frsq_dc, fn_segments_dc)

===========mapping  frsq venues to poi categories===========
venues without poi category: #venues=3139, #frsq_categories=63
top ten frsq_categories {u'': 1447, u'Building': 882, u'TV Station': 11, u'Exhibit': 51, u'Moving Target': 121, u'Zoo': 14, u'Festival': 6, u'Conference': 7, u'Intersection': 55, u'Road': 450}
# venues in city= 30187
# venues near segments= 18177
wrote obj near segments: data/poi_frsq_dc_near_segments_dc_opendc.geojson

'data/poi_frsq_dc_near_segments_dc_opendc.geojson'

In [4]:
poi_osm_dc = map_osm_to_poi_category(path_osm_db_dc, path_mapping_for_osm, debug=True)
poi_osm_near_seg_dc = objs_near_segs(poi_osm_dc, segments_dc, bfr_20m, epsg_dc, output='objs')
print '# objs have category near seg by ot:', poi_osm_near_seg_dc.ot.value_counts().to_dict()
poi_osm_pts_dc, poi_osm_ln_pls_dc = clean_and_split_poi_osm_by_geometry(poi_osm_dc)

# temp = poi_osm_near_seg_dc.copy()
# temp.category = temp.category.apply(lambda x: str(x))
# objs_near_segs_store(temp, data_dir, fn_poi_osm_dc, fn_segments_dc)
# del temp

===========mapping osm to poi category===========
# rows in table tag  = 1484405
# rows after mapping = 44060
# objs have category = 32808
# objs have category by ot: {'R': 1079, 'W': 20010, 'N': 11719}
# categories: # objs = {1: 32183, 2: 620, 3: 5}
# objs have category near seg by ot: {'R': 878, 'W': 14389, 'N': 7308}

d:\program files\anaconda2\lib\site-packages\pandas\core\generic.py:2177: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [37]:
def remove_osm_frsq_overlap(poi_osm_pts, poi_frsq, bfr_crs, init_crs=4326, bfr_range=5):
    from src.geom_helper import crs_prepossess
    from src.osm.osmdb_filter import filter_tbtag_to_df
    osm_with_name = filter_tbtag_to_df(path_osm_db_dc, in_tags=[('name',None)])

    osm_bfr = crs_prepossess(poi_osm_pts, init_crs, bfr_crs)
    osm_bfr.geometry = osm_bfr.buffer(bfr_range)
    osm_bfr = osm_bfr.to_crs(epsg=init_crs)
    
    frsq_bfr = crs_prepossess(poi_frsq, init_crs, bfr_crs)
    frsq_bfr.geometry = frsq_bfr.buffer(bfr_range)
    frsq_bfr = frsq_bfr.to_crs(epsg=init_crs)
    
    osm_bfr_name = osm_bfr.merge(osm_with_name, how='left')
    osm_bfr_name.drop('key', axis=1, inplace=True)
    osm_bfr_name.columns = list(osm_bfr.columns) + ['name']
    osm_bfr_name.name = osm_bfr_name.name.fillna('')
    
    sjoin = gp.tools.sjoin(osm_bfr_name, frsq_bfr)
    return sjoin

In [38]:
sjoin = remove_osm_frsq_overlap(poi_osm_pts_dc, poi_frsq_dc, epsg_dc)

In [41]:
from src.utils import similarity
sjoin['name_sml'] = sjoin.apply(lambda x: similarity(x.name_left, x.name_right),axis=1)

In [ ]:
def connected_nodes(edges):
    import networkx as nx
    G = nx.Graph()
    G.add_edges_from(edges)
    return [x.nodes() for x in nx.connected_component_subgraphs(G)]
def similar_name(row,threshold=0.8):
    return row.name_sml>threshold
def no_name_but_same_category(row):
    if not row.name_sml==-1.0:
        return False
    return len(row.category_right - row.category_left)==0

In [42]:
sjoin

,ot,oid,geometry,category_left,name_left,index_right,id,name_right,category_right,name_sml
8,N,49716664,POLYGON ((-77.00900476913097 38.88750470445696...,set([cycling facilities]),,11233,4be09e4c98f2a5931cd8c25a,Office of Rep. Chris Van Hollen (MD-08),professional service,-1.000000
17,N,49718775,"POLYGON ((-76.9916004041479 38.84412699586958,...",set([cycling facilities]),,14560,5313e2d611d26c897768e425,St. Elizabeth East Gateway Pavilion,no category,-1.000000
22,N,49719415,POLYGON ((-77.05696555480179 38.90525342812081...,set([cycling facilities]),,1025,52e65ee2498e453d5ea0df67,Cafe May,no category,-1.000000
22,N,49719415,POLYGON ((-77.05696555480179 38.90525342812081...,set([cycling facilities]),,1103,5391f13f498e8a555acb7023,Ike Behar,retail shop,-1.000000
47,N,49730129,POLYGON ((-77.07697132415861 38.94316203799141...,set([cycling facilities]),,17523,4f43323319834bc91f55451c,Manny's and Olga's Pizza,food,-1.000000
58,N,49732053,POLYGON ((-77.05805425481758 38.90523442865798...,set([cycling facilities]),,1055,4bc0fb9874a9a593f019d1f6,Wells Fargo,professional service,-1.000000
64,N,49732286,"POLYGON ((-77.02800236543074 38.8920883138304,...",set([cycling facilities]),,9759,4c27ccfc97d00f4725f13eea,Michael Jackson's Fedora @Apollo Exhibit,art,-1.000000
9320,N,3016605404,POLYGON ((-77.02814476543053 38.89208861390066...,set([cycling facilities]),,9759,4c27ccfc97d00f4725f13eea,Michael Jackson's Fedora @Apollo Exhibit,art,-1.000000
72,N,49734010,POLYGON ((-77.01360948760406 38.86462800672898...,set([cycling facilities]),,14034,4de4542fd164df8575287ffe,National Response Center,professional service,-1.000000
77,N,49734612,POLYGON ((-77.03876393272729 38.93255011914005...,set([cycling facilities]),,19407,4be0a15bcb81c9b6bb7e668b,Lamont Cleaners,retail shop,-1.000000
10136,N,3378524030,POLYGON ((-77.03892363276702 38.93250101921883...,set([professional service]),,19407,4be0a15bcb81c9b6bb7e668b,Lamont Cleaners,retail shop,-1.000000
11188,N,4082394066,POLYGON ((-77.03888013276854 38.93249911919739...,set([cycling facilities]),,19407,4be0a15bcb81c9b6bb7e668b,Lamont Cleaners,retail shop,-1.000000
90,N,49737875,POLYGON ((-77.00428395192243 38.90880230212771...,set([cycling facilities]),,26787,4e5b274a483b865169f56669,Dave Thomas Circle,outdoors and recreation,-1.000000
90,N,49737875,POLYGON ((-77.00428395192243 38.90880230212771...,set([cycling facilities]),,26794,4f2d7a79e4b083c42743e1ef,wings over dc,food,-1.000000
102,N,49739609,POLYGON ((-76.98544635887737 38.90019699283324...,set([cycling facilities]),,3514,56f07414498e1422777598a0,BAB Korean Fusion,food,-1.000000
5773,N,775352984,POLYGON ((-76.98559015887717 38.90019719290417...,set([cycling facilities]),,3514,56f07414498e1422777598a0,BAB Korean Fusion,food,-1.000000
105,N,49739950,POLYGON ((-77.04262634072533 38.92266102104578...,set([cycling facilities]),,21588,4a97092ef964a520182820e3,Starbucks,food,-1.000000
110,N,49740448,POLYGON ((-77.00583717952516 38.87463410289407...,set([cycling facilities]),,13484,5314b358e4b0d805d3744ddf,Navy Yard,outdoors and recreation,-1.000000
118,N,49741058,POLYGON ((-77.00051335887017 38.90020500026729...,set([cycling facilities]),,3758,4daecca60437710b813ab310,X2 4th St NE & H St Bus Stop,transportation,-1.000000
5873,N,776586119,POLYGON ((-77.00059145887025 38.90020490030585...,set([cycling facilities]),,3758,4daecca60437710b813ab310,X2 4th St NE & H St Bus Stop,transportation,-1.000000
8032,N,2791131134,POLYGON ((-77.00051385895687 38.90009770026756...,set([cycling facilities]),,3758,4daecca60437710b813ab310,X2 4th St NE & H St Bus Stop,transportation,-1.000000
118,N,49741058,POLYGON ((-77.00051335887017 38.90020500026729...,set([cycling facilities]),,3780,5643150538fa12a9224eff03,H St Hair,retail shop,-1.000000
5873,N,776586119,POLYGON ((-77.00059145887025 38.90020490030585...,set([cycling facilities]),,3780,5643150538fa12a9224eff03,H St Hair,retail shop,-1.000000
8043,N,2791131202,POLYGON ((-77.00041665887024 38.90020490021961...,set([cycling facilities]),,3780,5643150538fa12a9224eff03,H St Hair,retail shop,-1.000000
119,N,49741076,POLYGON ((-77.00051435602411 38.90372700026779...,set([cycling facilities]),,1536,5196607a498ea8ef674126c6,1050 First Street- First Floor,professional service,-1.000000
9845,N,3215048828,"POLYGON ((-77.00051435607736 38.9036611002678,...",set([cycling facilities]),,1536,5196607a498ea8ef674126c6,1050 First Street- First Floor,professional service,-1.000000
9850,N,3215048833,POLYGON ((-77.00060495602411 38.90372700031248...,set([cycling facilities]),,1536,5196607a498ea8ef674126c6,1050 First Street- First Floor,professional service,-1.000000
124,N,49741647,POLYGON ((-77.04661016543443 38.89208972301151...,set([cycling facilities]),,9886,4f71abffe4b02fc4362e4c4c,Cop on a Segway,professional service,-1.000000
124,N,49741647,POLYGON ((-77.04661016543443 38.89208972301151...,set([cycling facilities]),,9891,4d928433b053b60c5ffa7bcb,Thurston 521,no category,-1.000000
126,N,49741663,POLYGON ((-77.04660606289069 38.89523832300948...,set([cycling facilities]),,9243,51cb17ac498e0d8ec2a88112,State Dept - SA3,professional service,-1.000000
...,...,...,...,...,...,...,...,...,...,...
11651,N,4377972406,"POLYGON ((-77.0700109542645 38.90592533455742,...",set([cycling facilities]),,1399,4c802915d34ca14352ca1680,GUTS Shuttle Stop - Rosslyn at Car Barn,transportation,-1.000000
11651,N,4377972406,"POLYGON ((-77.0700109542645 38.90592533455742,...",set([cycling facilities]),,1416,4c7d7f795af8b60c68cc8f10,GUTS Shuttle Stop -- Arlington Loop at Car Barn,transportation,-1.000000
11660,N,4397970957,POLYGON ((-77.03666915595431 38.90381911810659...,set([professional service]),Mailbox,2480,4f9ff6b9e4b0492c199b0ec6,Washington Post Newsroom University,schools&university,0.285714
11661,N,4397971400,POLYGON ((-77.03628965207707 38.90861651791932...,set([professional service]),Mailbox,27268,4be1a2d5755dc9b65acf4592,The Washington Center,schools&university,0.428571
11666,N,4398003274,POLYGON ((-77.05149645322791 38.90719832542236...,set([professional service]),Mailbox,29261,502e8af2e4b078fb5913fc55,Francis Stevens Educational Campus,schools&university,0.142857
11670,N,4404517006,POLYGON ((-77.04887443464837 38.93017852412855...,set([cycling facilities]),,19974,4c0157100bce20a1ce8bf6c6,Small Mammal House,no category,-1.000000
11685,N,4408719966,POLYGON ((-77.06394552284064 38.94478323156451...,set([transportation]),,17147,4e2cc0e87d8b7deda6df0926,Capital Bikeshare - Van Ness,cycling facilities,-1.000000
11686,N,4408720602,POLYGON ((-77.06406042266836 38.94499623162122...,set([transportation]),,17132,51af694d498ea2a4421e8b60,Crepe Love Truck,food,-1.000000
11692,N,4411526728,POLYGON ((-77.05553593476877 38.93003262741532...,set([food]),,20008,578acb1b498e19140ac5d67c,Duke's Counter,food,-1.000000
11698,N,4411946967,POLYGON ((-77.02573796570403 38.89174951271315...,set([cycling facilities]),,10388,4bd59a6b29eb9c746c8a93e1,Joseph F. Cullman 3rd Library of Natural History,schools&university,-1.000000
11698,N,4411946967,POLYGON ((-77.02573796570403 38.89174951271315...,set([cycling facilities]),,9737,51bcac59498edaf046e6a835,Kids Discovery Station,art,-1.000000
11699,N,4411947461,POLYGON ((-77.02605496570456 38.89174891286957...,set([cycling facilities]),,10375,4dbd9c6693a08f9274d96cc8,Easter Island Stone Figure - Smithsonian's Nat...,art,-1.000000
11708,N,4412518942,"POLYGON ((-77.0294288718825 38.88410151453427,...",set([cycling facilities]),,12170,50f595bde4b0be12e7fc5afe,FEPOC,professional service,-1.000000
11709,N,4412518950,POLYGON ((-77.02950557171604 38.88430761457211...,set([cycling facilities]),,12157,4a8adfc9f964a520ae0a20e3,Starbucks,food,-1.000000
11709,N,4412518950,POLYGON ((-77.02950557171604 38.88430761457211...,set([cycling facilities]),,12126,4b7ed425f964a5208b0230e3,CVS/pharmacy,retail shop,-1.000000
11716,N,4416686742,"POLYGON ((-77.07953102008047 38.9482042392543,...",set([food]),Chick-fil-A,16679,4eb449bb6d86ba38adc5bc65,Panera Bread,food,0.090909
11720,N,4421411506,POLYGON ((-77.02105416229081 38.89597341040214...,set([retail shop]),Georgetown Valet,7551,50ed8e48e4b0183bd86f817f,Clara Barton Conference Room,professional service,0.375000
11725,N,4423098989,POLYGON ((-76.99012483919239 38.92454949514163...,set([retail shop]),The Baker's Lounge,21259,57a2a23e498e14ff1a30d334,The Bakers'Lounge,food,0.941176
11734,N,4429694165,POLYGON ((-77.00592657122733 38.88490910293817...,set([cycling facilities]),,11854,5790ed0a498ec563a0cd52c5,Peoples Food Truck,food,-1.000000
11736,N,4433431823,POLYGON ((-77.03078974277679 38.92012001520563...,set([food]),La Columbe,22749,4e7134828877753731cedd30,GeekEasy,professional service,0.125000
11737,N,4436558787,POLYGON ((-77.02360943436715 38.93051841166285...,set([nightlife spot]),Union Drinkery,19734,57eb3114498e65b30d8036ce,Union Drinkery,nightlife spot,1.000000
11738,N,4436597694,"POLYGON ((-77.06278795687139 38.9026954309936,...",set([professional service]),Mailbox,3380,40b3de00f964a5201b001fe3,Mr. Smith's of Georgetown,nightlife spot,0.428571
11754,N,4452279849,POLYGON ((-77.03211685245046 38.90815331586045...,set([food]),Baan Thai / Tsunami Sushi,28562,4cddd0fd78ddf04d56a29698,Baan Thai / Tsunami Sushi,food,1.000000
11754,N,4452279849,POLYGON ((-77.03211685245046 38.90815331586045...,set([food]),Baan Thai / Tsunami Sushi,28565,4a90346cf964a520891620e3,Thai Tanic Restaurant,food,0.428571
11754,N,4452279849,POLYGON ((-77.03211685245046 38.90815331586045...,set([food]),Baan Thai / Tsunami Sushi,28566,511cffcde4b077257fe421b2,B Too,food,0.600000
11756,N,4460765203,POLYGON ((-77.06344025314853 38.90730243131543...,set([food]),Daily Grill,29396,4b353c6af964a520732b25e3,Daily Grill - Georgetown,nightlife spot,1.000000
11756,N,4460765203,POLYGON ((-77.06344025314853 38.90730243131543...,set([food]),Daily Grill,29408,4bc5a406ccbcef3b67b9e6d2,The Georgetown Inn,outdoors and recreation,0.363636
11758,N,4464030280,POLYGON ((-77.02006566003948 38.89875960991444...,set([nightlife spot]),Penn Commons,5823,53d0cd8b498e918e6593f87c,Penn Commons,food,1.000000
11759,R,1029391,POLYGON ((-77.04001105812317 38.90113631975548...,set([professional service]),Brawner Building,4776,4c3f1eceb8b4be9a5509cdef,Dr. Christina Mills and Associates,professional service,0.437500
11759,R,1029391,POLYGON ((-77.04001105812317 38.90113631975548...,set([professional service]),Brawner Building,4786,55549420498ee703d3cf7d02,Dr. Alan Helig DDS,professional service,0.375000

In [30]:
poi_osm_pts_name

,ot,oid,geometry,category,name
0,N,49715946,POINT (-77.0176445 38.953198),set([cycling facilities]),
1,N,49715951,POINT (-77.01971740000001 38.9531399),set([cycling facilities]),
2,N,49715974,POINT (-77.0254044 38.9529676),set([cycling facilities]),
3,N,49716326,POINT (-77.0035556 38.8604741),set([cycling facilities]),
4,N,49716545,POINT (-77.00767500000001 38.829199),set([cycling facilities]),
5,N,49716602,POINT (-77.006002 38.824091),set([cycling facilities]),
6,N,49716610,POINT (-77.00563099999999 38.823747),set([cycling facilities]),
7,N,49716662,POINT (-77.0090656 38.8875904),set([cycling facilities]),
8,N,49716664,POINT (-77.00906240000001 38.8875047),set([cycling facilities]),
9,N,49716680,POINT (-77.0090491 38.8838384),set([cycling facilities]),
10,N,49716879,POINT (-76.942549 38.869495),set([cycling facilities]),
11,N,49716928,POINT (-77.044685 38.924023),set([cycling facilities]),
12,N,49716962,POINT (-76.98699499999999 38.85619),set([cycling facilities]),
13,N,49717245,POINT (-77.0766241 38.9667127),set([cycling facilities]),
14,N,49717477,POINT (-77.0466503 38.9024051),set([cycling facilities]),
15,N,49717954,POINT (-77.01628770000001 38.9750243),set([cycling facilities]),
16,N,49718053,POINT (-77.0332998 38.8776484),set([cycling facilities]),
17,N,49718775,POINT (-76.991658 38.844127),set([cycling facilities]),
18,N,49718816,POINT (-76.969373 38.861223),set([cycling facilities]),
19,N,49719230,POINT (-76.9785351 38.9171674),set([cycling facilities]),
20,N,49719243,POINT (-76.9784722 38.9174061),set([cycling facilities]),
21,N,49719266,POINT (-76.97777120000001 38.9172884),set([cycling facilities]),
22,N,49719415,POINT (-77.0570232 38.9052534),set([cycling facilities]),
23,N,49720590,POINT (-77.01365269999999 38.8860642),set([cycling facilities]),
24,N,49721290,POINT (-77.00197 38.892059),set([cycling facilities]),
25,N,49721292,POINT (-77.00204100000001 38.892084),set([cycling facilities]),
26,N,49722787,POINT (-77.027035 38.91409),set([cycling facilities]),
27,N,49722926,POINT (-77.01629300000001 38.909638),set([cycling facilities]),
28,N,49722994,POINT (-77.0449266 38.8954286),set([cycling facilities]),
29,N,49723161,POINT (-77.002033 38.912602),set([cycling facilities]),
...,...,...,...,...,...
11735,N,4433055949,POINT (-77.021722 38.9147794),set([food]),Drift on 7th
11736,N,4433431823,POINT (-77.0308474 38.92012),set([food]),La Columbe
11737,N,4436558787,POINT (-77.0236671 38.9305184),set([nightlife spot]),Union Drinkery
11738,N,4436597694,POINT (-77.0628456 38.9026954),set([professional service]),Mailbox
11739,N,4436597695,POINT (-77.0435712 38.9073069),set([professional service]),Mailbox
11740,N,4436597696,POINT (-76.9797708 38.944291),set([professional service]),Mailbox
11741,N,4448657289,POINT (-77.0728597 38.9224647),set([cycling facilities]),
11742,N,4448657290,POINT (-77.07465430000001 38.9224681),set([cycling facilities]),
11743,N,4448657291,POINT (-77.0731845 38.9224856),set([cycling facilities]),
11744,N,4448657292,POINT (-77.0727108 38.9225432),set([cycling facilities]),
11745,N,4448657293,POINT (-77.0748203 38.9225481),set([cycling facilities]),
11746,N,4448657294,POINT (-77.0745696 38.9225486),set([cycling facilities]),
11747,N,4448657295,POINT (-77.0747373 38.9226222),set([cycling facilities]),
11748,N,4448657296,POINT (-77.07296 38.9226316),set([cycling facilities]),
11749,N,4448657299,POINT (-77.07528000000001 38.9235786),set([cycling facilities]),
11750,N,4448657300,POINT (-77.0730367 38.9236181),set([cycling facilities]),
11751,N,4448657301,POINT (-77.0754319 38.9236231),set([cycling facilities]),
11752,N,4448657302,POINT (-77.07536090000001 38.9237223),set([cycling facilities]),
11753,N,4448657316,POINT (-77.07303400000001 38.9246963),set([cycling facilities]),
11754,N,4452279849,POINT (-77.0321745 38.9081533),set([food]),Baan Thai / Tsunami Sushi
11755,N,4459474647,POINT (-77.00280460000001 38.9053069),set([retail shop]),REI
11756,N,4460765203,POINT (-77.0634979 38.9073024),set([food]),Daily Grill
11757,N,4460779184,POINT (-77.0657635 38.9052655),set([food]),Good Stuff Eatery
11758,N,4464030280,POINT (-77.0201233 38.8987596),set([nightlife spot]),Penn Commons
11759,R,1029391,POINT (-77.04006870000001 38.9011363),set([professional service]),Brawner Building
11760,R,1029391,POINT (-77.039892 38.9011424),set([professional service]),Brawner Building
11761,R,1029391,POINT (-77.0398089 38.9011457),set([professional service]),Brawner Building
11762,R,1029391,POINT (-77.0397031 38.9010877),set([professional service]),Brawner Building
11763,R,4600686,POINT (-77.0455327 38.9887212),set([residence]),Rock Creek Gardens
11764,R,4626530,POINT (-77.00445329999999 38.9616585),set([residence]),Hampshire Knolls

In [9]:
df

      ot        oid   key                        value
0      N   49744749  name           C Street Northeast
1      N   49792620  name            Shepherd Junction
2      N   60471261  name                Cafe Saint Ex
3      N  157560663  name                 Bloomingdale
4      N  157562916  name                 Kingman Park
5      N  157590304  name                 Forest Hills
6      N  157591605  name               Wesley Heights
7      N  157596835  name               Lanier Heights
8      N  157599737  name              Lincoln Heights
9      N  157610884  name             Columbia Heights
10     N  157610971  name                     Ivy City
11     N  157618698  name                  Buena Vista
12     N  157621768  name                    Anacostia
13     N  157623373  name             Foxhall Crescent
14     N  157624066  name         Southwest Waterfront
15     N  157624802  name         North Cleveland Park
16     N  157633177  name     American University Park
17     N  157634410  name                 Lincoln Park
18     N  157636686  name                     Douglass
19     N  158227512  name               Cleveland Park
20     N  158237080  name                     Trinidad
21     N  158239757  name                    Crestwood
22     N  158242731  name         Washington Highlands
23     N  158249984  name                   Georgetown
24     N  158250162  name                     Bellevue
25     N  158252218  name                Barnaby Woods
26     N  158259609  name                   Tenleytown
27     N  158273399  name                 Woodley Park
28     N  158284466  name             Colonial Village
29     N  158284531  name                  Glover Park
...   ..        ...   ...                          ...
19025  R    4648045  name                      Skyland
19026  R    4648060  name                     Woodland
19027  R    4648081  name             Garfield Heights
19028  R    4648103  name                      Shipley
19029  R    4648131  name                     Douglass
19030  R    4648208  name             Congress Heights
19031  R    4648229  name                     Bellevue
19032  R    4648249  name         Washington Highlands
19033  R    5147841  name                    WMATA 30N
19034  R    5149106  name                    WMATA 30S
19035  R    5170966  name                     WMATA 54
19036  R    5170967  name                     WMATA 52
19037  R    5170968  name                     WMATA 53
19038  R    5345730  name      Boundary Channel Bridge
19039  R    5396194  name                   Washington
19040  R    5478282  name       Federal Triangle Plaza
19041  R    5575337  name         Dalecarlia Reservoir
19042  R    5641515  name                       Camden
19043  R    5982620  name            State Plaza Hotel
19044  R    5991610  name           Washington Channel
19045  R    6058466  name  H St/Benning Road Streetcar
19046  R    6135570  name               Farragut North
19047  R    6151578  name         Edward R Murrow Park
19048  R    6594202  name              Lion/Tiger Hill
19049  R    6603461  name            Jefferson Houston
19050  R    6603538  name                 Rawlins Park
19051  R    6612211  name                 Lyles-Crouch
19052  R    6653142  name               District House
19053  R    6653143  name     Cloyd Heck Marvin Center
19054  R    6654870  name                  The SeVerna

[19055 rows x 4 columns]

In [219]:
def poi_distribution(poi_frsq, poi_osm, poi=None):
    import numpy as np
    poi_frsq_distr = poi_frsq.category.value_counts().reset_index()
    poi_frsq_distr.columns = ['category','fs']
    categories, counts = np.unique(np.hstack(poi_osm.category.apply(list).apply(np.array).values), return_counts=True)
    poi_osm_distr = pd.DataFrame(zip(categories,counts),columns=['category','osm'])
    print poi_frsq_distr
    print 
    print poi_osm_distr
    print 
    print poi_frsq_distr.merge(poi_osm_distr)
    
poi_distribution(poi_frsq_near_seg_dc, poi_osm_near_seg_dc)

                   category    fs
0      professional service  3846
1                      food  2804
2               retail shop  2649
3   outdoors and recreation  2193
4               no category  1883
5            transportation  1400
6                 residence  1035
7            nightlife spot  1010
8        schools&university   699
9                       art   513
10       cycling facilities   145

                  category    osm
0                      art     49
1       cycling facilities  10695
2                     food    766
3           nightlife spot    123
4  outdoors and recreation   3529
5     professional service    793
6                residence    489
7              retail shop    962
8       schools&university    346
9           transportation   5274

                  category    fs    osm
0     professional service  3846    793
1                     food  2804    766
2              retail shop  2649    962
3  outdoors and recreation  2193   3529
4           transportation  1400   5274
5                residence  1035    489
6           nightlife spot  1010    123
7       schools&university   699    346
8                      art   513     49
9       cycling facilities   145  10695