In [1]:
import sys, os
sys.path.insert(0, os.path.abspath('../'))
from utils.osm_helper import *
import geopandas as gp
from osmread import Node, Way, Relation
import datetime
import pandas as pd

In [2]:
CHILD_PARENT_PATH = '../data/osm_child_direct_parent.csv'
CHILD_PARENT = pd.read_csv(CHILD_PARENT_PATH, index_col=0)
CHILD_PARENT

D:\Program Files\Anaconda2\lib\site-packages\pandas\io\parsers.py:1170: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

         child  parent  lv   child_oid child_otype  parent_oid parent_otype
0            0    root   1    30066952        Node         NaN          NaN
98555    98646    root   1   294867028         Way         NaN          NaN
98554    98645    root   1   294867027         Way         NaN          NaN
98553    98644    root   1   294867026         Way         NaN          NaN
98552    98643    root   1   294867025         Way         NaN          NaN
98551    98642    root   1   294867024         Way         NaN          NaN
98550    98641    root   1   294867023         Way         NaN          NaN
98549    98640    root   1   294867022         Way         NaN          NaN
98548    98639    root   1   294867021         Way         NaN          NaN
98547    98638    root   1   294867020         Way         NaN          NaN
98546    98637    root   1   294867019         Way         NaN          NaN
98545    98636    root   1   294867018         Way         NaN          NaN
98544    98635    root   1   294867017         Way         NaN          NaN
98543    98634    root   1   294867016         Way         NaN          NaN
98542    98633    root   1   294867015         Way         NaN          NaN
98541    98632    root   1   294867014         Way         NaN          NaN
98540    98631    root   1   294867013         Way         NaN          NaN
98539    98630    root   1   294867012         Way         NaN          NaN
98525    98616    root   1   294866993         Way         NaN          NaN
98526    98617    root   1   294866995         Way         NaN          NaN
98527    98618    root   1   294866997         Way         NaN          NaN
98528    98619    root   1   294867000         Way         NaN          NaN
98529    98620    root   1   294867002         Way         NaN          NaN
98530    98621    root   1   294867003         Way         NaN          NaN
98556    98647    root   1   294867029         Way         NaN          NaN
98531    98622    root   1   294867004         Way         NaN          NaN
98533    98624    root   1   294867006         Way         NaN          NaN
98534    98625    root   1   294867007         Way         NaN          NaN
98535    98626    root   1   294867008         Way         NaN          NaN
98536    98627    root   1   294867009         Way         NaN          NaN
...        ...     ...  ..         ...         ...         ...          ...
2797      2797   55936   3   247130408        Node    67142069          Way
96352    96440   20059   3   242870398         Way    41965294          Way
12688    12763  149062   4  2791548292        Node     5170966     Relation
12697    12772  149062   4  2791548340        Node     5170966     Relation
2951      2951   71623   4   262091772        Node    69200731          Way
19456    19542   19537   4    26628948         Way    26628903          Way
5645      5656  149062   4   759888388        Node     5170966     Relation
9517      9578  149062   4   917743812        Node     5170966     Relation
134765  134862  148962   4   297304609         Way     3954669     Relation
1457      1457  149062   4    49802527        Node     5170966     Relation
1458      1458  149062   4    49802535        Node     5170966     Relation
16785    16868  145283   4  3372389884        Node   331095353          Way
1459      1459  149062   4    49802539        Node     5170966     Relation
3511      3515  145324   4   367141026        Node   333669027          Way
1460      1460  149062   4    49802545        Node     5170966     Relation
3442      3445   96592   4   358961101        Node   257934463          Way
19455    19541   19537   4    26628919         Way    26628903          Way
3053      3053  149062   4   291403681        Node     5170966     Relation
37750    37837   38611   4    65731340         Way    65757320          Way
12811    12886  149062   4  2791594478        Node     5170966     Relation
5259      5269  148962   4   738182031        Node     3954669     Relation
14782    14862  149062   4  3003882945        Node     5170966     Relation
3061      3061  149062   4   291406895        Node     5170966     Relation
40820    40907   19587   4    66646399         Way    26708259          Way
3273      3275   96591   4   358958515        Node   257934462          Way
3347      3349   96590   4   358959784        Node   257934461          Way
12653    12728  149062   4  2791548183        Node     5170966     Relation
12815    12890  149062   4  2791594482        Node     5170966     Relation
17062    17145  134862   5  3469874809        Node   297304609          Way
3240      3240   40907   5   358958010        Node    66646399          Way

[148430 rows x 7 columns]

In [16]:
CHILD_PARENT.columns= [u'node', u'parent', u'lv', u'child_oid', u'child_otype', u'parent_oid',
       u'parent_otype']

In [35]:
a = [5147841 ]
for x in a :
    print CHILD_PARENT[CHILD_PARENT.parent_oid==x]

         child  parent  lv   child_oid child_otype  parent_oid parent_otype
11          11  149024   2    49716662        Node     5147841     Relation
148389  149059  149024   2     5170966    Relation     5147841     Relation
148390  149060  149024   2     5170966    Relation     5147841     Relation
2965      2965  149020   2   262249795        Node     5147841     Relation
114        114  149020   2    49729677        Node     5147841     Relation
4273      4283  149020   2   638521162        Node     5147841     Relation
4683      4693  149018   2   642885416        Node     5147841     Relation
4719      4729  149025   2   646190840        Node     5147841     Relation
4607      4617  149024   2   641964881        Node     5147841     Relation
4606      4616  149024   2   641964879        Node     5147841     Relation
4200      4210  149020   2   634011123        Node     5147841     Relation
1194      1194  149025   2    49785838        Node     5147841     Relation
1331      1331  149020   2    49793759        Node     5147841     Relation
1333      1333  149020   2    49793777        Node     5147841     Relation
912        912  149020   2    49770640        Node     5147841     Relation
925        925  149020   2    49770789        Node     5147841     Relation
1920      1920  149025   2    49833602        Node     5147841     Relation
331        331  149024   2    49742491        Node     5147841     Relation
2145      2145  149024   2    49855611        Node     5147841     Relation
686        686  149024   2    49760872        Node     5147841     Relation
2146      2146  149024   2    49855616        Node     5147841     Relation
2147      2147  149024   2    49855619        Node     5147841     Relation
637        637  149024   2    49757901        Node     5147841     Relation
760        760  149020   2    49764296        Node     5147841     Relation
2094      2094  149024   2    49850653        Node     5147841     Relation
2093      2093  149024   2    49850651        Node     5147841     Relation
2092      2092  149024   2    49850648        Node     5147841     Relation
454        454  149024   2    49748716        Node     5147841     Relation
455        455  149024   2    49748720        Node     5147841     Relation
5031      5041  149020   2   706911261        Node     5147841     Relation
...        ...     ...  ..         ...         ...         ...          ...
12886    12961  149024   2  2791594660        Node     5147841     Relation
12849    12924  149024   2  2791594533        Node     5147841     Relation
9744      9805  149018   2  1064344291        Node     5147841     Relation
11136    11211  149020   2  1379549932        Node     5147841     Relation
11049    11124  149020   2  1334061683        Node     5147841     Relation
11044    11119  149020   2  1322713594        Node     5147841     Relation
11139    11214  149020   2  1379549941        Node     5147841     Relation
11140    11215  149020   2  1381204541        Node     5147841     Relation
12059    12134  149024   2  2504829461        Node     5147841     Relation
12063    12138  149024   2  2504829663        Node     5147841     Relation
12060    12135  149024   2  2504829537        Node     5147841     Relation
12064    12139  149024   2  2504829695        Node     5147841     Relation
11395    11470  149020   2  1825446964        Node     5147841     Relation
11396    11471  149020   2  1825446965        Node     5147841     Relation
11148    11223  149020   2  1381307999        Node     5147841     Relation
11296    11371  149020   2  1600549234        Node     5147841     Relation
11297    11372  149020   2  1600549249        Node     5147841     Relation
11298    11373  149020   2  1600549262        Node     5147841     Relation
11310    11385  149020   2  1645991534        Node     5147841     Relation
15299    15379  149024   2  3012429749        Node     5147841     Relation
15209    15289  149024   2  3011565315        Node     5147841     Relation
15214    15294  149024   2  3011566064        Node     5147841     Relation
15216    15296  149024   2  3011566079        Node     5147841     Relation
15318    15398  149024   2  3012535147        Node     5147841     Relation
14994    15074  149024   2  3010649395        Node     5147841     Relation
15003    15083  149024   2  3010700592        Node     5147841     Relation
15007    15087  149024   2  3010717489        Node     5147841     Relation
15407    15487  149023   3  3013359739        Node     5147841     Relation
15424    15504  149023   3  3013484867        Node     5147841     Relation
1853      1853  149022   3    49827583        Node     5147841     Relation

[85 rows x 7 columns]

In [77]:
CHILD_PARENT[CHILD_PARENT.child_oid==41964978]
oid = 41964978
otype= 'Way'
CHILD_PARENT[(CHILD_PARENT.child_oid==oid)& (CHILD_PARENT.child_otype==otype)]

       child parent  lv  child_oid child_otype  parent_oid parent_otype
19772  19858   root   1   41964978         Way         NaN          NaN

In [92]:
def get_sub_tree(tree_df, childid, looping=0):
    mask_itself = (tree_df.child==childid)
    mask_children =  (tree_df.parent==str(childid))
    assert looping<100, 'looping too much childid:'+str( childid)
    
    itself = tree_df[mask_itself]
    oid = itself.child_oid.values[0]
    otype = itself.child_otype.values[0]
    subtree = set([(oid, otype)])
    
    children_oid = tree_df[mask_children].child_oid.values
    children_otype = tree_df[mask_children].child_otype.values
    children_oid_otype = zip(children_oid, children_otype)
    children_id = tree_df[mask_children].child.values
    subtree.update(children_oid_otype)
    if len(children_oid)==0:
        return subtree, itself.shape

    for cid in children_id:
        coid_subtree, coid_shape = get_sub_tree(tree_df, cid, looping+1)
        subtree.update(coid_subtree)
    return subtree, itself.shape
    

get_sub_tree(CHILD_PARENT, 19858)

({(26708232, 'Way'),
  (26708259, 'Way'),
  (41964978, 'Way'),
  (66646399, 'Way'),
  (358958010, 'Node')},
 (1, 7))

In [3]:
def get_sub_tree(tree_df, node_id, looping=0):
    mask_node = (tree_df.node==node_id)
    mask_children =  (tree_df.parent==str(node_id))
    assert looping<100, 'looping too much childid:'+str( node_id)

    node = tree_df[mask_node]
    oid = node.child_oid.values[0]
    otype = node.child_otype.values[0]
    subtree = {((oid, otype),)}

    children_oid = tree_df[mask_children].child_oid.values
    children_otype = tree_df[mask_children].child_otype.values
    children_oid_otype = zip(children_oid, children_otype)
    children_id = tree_df[mask_children].node.values
    subtree.update(children_oid_otype)
    if len(children_oid)==0:
        return subtree, node.shape

    for cid in children_id:
        c_subtree, c_tree_shape = get_sub_tree(tree_df, cid, looping+1)
        subtree.update(c_subtree)
    return subtree, node.shape

In [4]:
({((11,22),)})

1

In [8]:
nodes_have_children = CHILD_PARENT[
    (CHILD_PARENT.child.apply(str).isin(CHILD_PARENT.parent.value_counts().index.tolist()))
    & (CHILD_PARENT.parent=='root')
].child.tolist()
nodes_have_children.sort()
len(nodes_have_children)

5928

In [5]:
sub_trees_root = CHILD_PARENT[CHILD_PARENT.parent=='root'].child
sub_trees_root.shape

(132085L,)

In [13]:
print datetime.datetime.now()
sub_trees = []
shape_error = []
assert_error = []
for child_id in nodes_have_children:
    try:
        subtree, shape = get_sub_tree(CHILD_PARENT,child_id)
    except Exception as e:
        assert_error.append((child_id, e))
        continue
    if shape!=(1,7):
        shape_error.append((child_id, subtree, shape))
    sub_trees.append(subtree)
print datetime.datetime.now()

2016-11-12 19:43:08.117000
2016-11-12 19:43:08.168000

In [20]:
nodes_have_no_child = set(sub_trees_root)-set(nodes_have_children)
nodes_have_no_child = CHILD_PARENT[CHILD_PARENT.node.isin(nodes_have_no_child)]
one_node_subtrees = nodes_have_no_child.apply(lambda x: set([(int(x.child_oid), x.child_otype)]),axis=1).tolist()
sub_trees.extend(one_node_subtrees)
print len(sub_trees)

132085

In [140]:
with open('../data/subtree.txt') as f:
    set_read = eval(f.readlines()[0])

In [175]:
with open('../data/subtree.txt', 'w') as f:
    f.write(str(sub_trees))

In [105]:
OSM_DC_BBOX_PATH = '../data/dc_bbox.osm'
OSM_DC_BBOX = osm_container(OSM_DC_BBOX_PATH)
print OSM_DC_BBOX.data_size()

begin reading osm 2016-11-11 15:38:25.788000
finish reading osm 2016-11-11 15:39:43.812000
["len of <class 'osmread.elements.Relation'> = 3427", "len of <class 'osmread.elements.Way'> = 306332", "len of <class 'osmread.elements.Node'> = 2546260"]

In [176]:
print datetime.datetime.now()
otype_str_to_class = {'Node': Node, 'Way':Way, 'Relation':Relation}
from collections import defaultdict
all_tags = []
for subtree in sub_trees:
    tags = defaultdict(list)
    for oid, otype in subtree:
        obj = OSM_DC_BBOX.get_osm_obj_by_id(otype_str_to_class[otype], oid)
        for tag, value in obj.tags.items():
            tags[tag].append(value)
    all_tags.append(tags)
print datetime.datetime.now()

2016-11-11 18:56:00.313000
2016-11-11 18:56:02.921000

In [185]:
eval(str([dict(d) for d in all_tags[:10]]))

[{u'addr:city': [u'Washington'],
  u'addr:country': [u'US'],
  u'addr:housenumber': [u'738'],
  u'addr:postcode': [u'20003'],
  u'addr:state': [u'DC'],
  u'addr:street': [u'10th Street Southeast'],
  u'amenity': [u'school'],
  u'building': [u'yes'],
  u'created_by': [u'JOSM'],
  u'dcgis:captureyear': [u'19990331'],
  u'dcgis:dataset': [u'buildings'],
  u'dcgis:featurecode': [u'2000'],
  u'leisure': [u'pitch'],
  u'mappingdc:gid': [u'59154'],
  u'source': [u'dcgis'],
  u'sport': [u'baseball']},
 {u'name': [u'Shepherd Industrial Track'],
  u'old_railway_operator': [u'B&O'],
  u'railway': [u'level_crossing',
   u'level_crossing',
   u'disused',
   u'level_crossing',
   u'level_crossing',
   u'level_crossing',
   u'level_crossing',
   u'level_crossing',
   u'level_crossing'],
  u'service': [u'spur'],
  u'source': [u'USGS Ortho'],
  u'tiger:cfcc': [u'B11'],
  u'tiger:county': [u'District of Columbia, DC'],
  u'tiger:name_base': [u'Csx Railroad']},
 {u'bicycle': [u'no'],
  u'created_by': [u'james_hiebert',
   u'james_hiebert',
   u'james_hiebert',
   u'james_hiebert',
   u'james_hiebert'],
  u'highway': [u'footway'],
  u'name': [u'Glover-Archbold Trail'],
  u'source': [u'Garmin Forerunner 305',
   u'Garmin Forerunner 305',
   u'Garmin Forerunner 305',
   u'Garmin Forerunner 305',
   u'Garmin Forerunner 305',
   u'Garmin Forerunner 305',
   u'Garmin Forerunner 305',
   u'Garmin Forerunner 305']},
 {u'created_by': [u'JOSM',
   u'JOSM',
   u'JOSM',
   u'JOSM',
   u'JOSM',
   u'JOSM',
   u'JOSM',
   u'James Hiebert',
   u'JOSM'],
  u'highway': [u'footway'],
  u'name': [u'Battery-Kemble Trail'],
  u'source': [u'Garmin Forerunner 305']},
 {u'created_by': [u'JOSM',
   u'JOSM',
   u'JOSM',
   u'JOSM',
   u'JOSM',
   u'JOSM',
   u'JOSM',
   u'JOSM',
   u'JOSM',
   u'James Hiebert',
   u'JOSM',
   u'JOSM',
   u'JOSM',
   u'JOSM',
   u'JOSM',
   u'JOSM',
   u'JOSM'],
  u'highway': [u'footway'],
  u'horse': [u'no'],
  u'source': [u'Garmin Forerunner 305']},
 {u'foot': [u'yes', u'yes', u'yes', u'yes'],
  u'highway': [u'cycleway'],
  u'hour_off': [u'06:00:00', u'06:00:00', u'06:00:00', u'06:00:00'],
  u'hour_on': [u'19:00:00', u'19:00:00', u'19:00:00', u'19:00:00'],
  u'source': [u'Garmin Forerunner 305',
   u'Garmin Forerunner 305',
   u'Garmin Forerunner 305',
   u'Garmin Forerunner 305']},
 {u'bicycle': [u'no'],
  u'created_by': [u'James Hiebert',
   u'James Hiebert',
   u'James Hiebert',
   u'James Hiebert',
   u'James Hiebert',
   u'James Hiebert',
   u'James Hiebert',
   u'James Hiebert',
   u'James Hiebert',
   u'James Hiebert'],
  u'highway': [u'footway'],
  u'horse': [u'no'],
  u'name': [u'Normanstone Trail'],
  u'note': [u'Yellow blazes.'],
  u'source': [u'Garmin Forerunner 305',
   u'Garmin Forerunner 305',
   u'Garmin Forerunner 305',
   u'Garmin Forerunner 305',
   u'Garmin Forerunner 305',
   u'Garmin Forerunner 305',
   u'Garmin Forerunner 305',
   u'Garmin Forerunner 305',
   u'Garmin Forerunner 305',
   u'Garmin Forerunner 305',
   u'Garmin Forerunner 305',
   u'Garmin Forerunner 305',
   u'Garmin Forerunner 305',
   u'Garmin Forerunner 305',
   u'Garmin Forerunner 305']},
 {u'bicycle': [u'no'],
  u'footway': [u'crossing'],
  u'highway': [u'footway', u'crossing'],
  u'horse': [u'no'],
  u'name': [u'Whitehaven Trail'],
  u'source': [u'Garmin Forerunner 305'],
  u'surface': [u'unpaved']},
 {u'bicycle': [u'no'],
  u'highway': [u'footway'],
  u'horse': [u'no'],
  u'name': [u'Whittier Trail'],
  u'source': [u'Garmin Forerunner 305',
   u'Garmin Forerunner 305',
   u'Garmin Forerunner 305']},
 {u'foot': [u'yes'],
  u'footway': [u'crossing'],
  u'highway': [u'footway', u'crossing']}]

In [186]:
with open('../data/osm_tags_in_subtrees.txt','w') as f:
    f.write(str([dict(d) for d in all_tags]))